{% load envelope_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Contact me!</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1>Contact me! <small>(a <a href="http://django-envelope.readthedocs.org">django-envelope</a> example)</small></h1>
        </header>
        {% render_contact_form %}
        <footer>
            <div class="container">&copy; Copyright 2010-2014 Zbigniew Siciarz.</div>
        </footer>
    </div>
</body>
</html>
